src/main/resources/petriNets/petriflow_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="xs3p.xsl"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           version="1.1.0">
    <!-- ===== DOCUMENT ELEMENTS ===== -->
    <xs:element name="transaction">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="id"/>
                <xs:element ref="title"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="data">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="id"/>
                <xs:element ref="title"/>
                <xs:element ref="placeholder" minOccurs="0"/>
                <xs:element ref="desc" minOccurs="0"/>
                <xs:element ref="values" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="valid" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="init" minOccurs="0"/>
                <xs:element ref="encryption" minOccurs="0"/>
                <xs:element ref="action" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="actionRef" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="documentRef" minOccurs="0"/>
                <xs:element ref="remote" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="data_type" name="type" use="required"/>
            <xs:attribute type="xs:boolean" name="immediate"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="role">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="id"/>
                <xs:choice>
                    <xs:element ref="title"/>
                    <xs:element ref="name"/>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="mapping">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="id"/>
                <xs:element ref="transitionRef"/>
                <xs:element ref="roleRef" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="dataRef" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="dataGroup" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="trigger" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="transition">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="id"/>
                <xs:element ref="x"/>
                <xs:element ref="y"/>
                <xs:element ref="label"/>
                <xs:element ref="icon" minOccurs="0"/>
                <xs:element ref="priority" minOccurs="0"/>
                <xs:element ref="assignPolicy" minOccurs="0"/>
                <xs:element ref="dataFocusPolicy" minOccurs="0"/>
                <xs:element ref="finishPolicy" minOccurs="0"/>
                <xs:element ref="trigger" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="transactionRef" minOccurs="0"/>
                <xs:element ref="roleRef" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="dataRef" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="dataGroup" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="event" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="place">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="id"/>
                <xs:element ref="x"/>
                <xs:element ref="y"/>
                <xs:element ref="label"/>
                <xs:element ref="tokens"/>
                <xs:choice>
                    <xs:element ref="isStatic"/>
                    <xs:element ref="static"/>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="arc">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="id"/>
                <xs:element name="type" type="arc_type" default="regular"/>
                <xs:element ref="sourceId"/>
                <xs:element ref="destinationId"/>
                <xs:element ref="multiplicity"/>
                <xs:element ref="breakPoint" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="i18n">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="i18nString" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="locale"/>
        </xs:complexType>
        <xs:unique name="i18nStringUniqueName">
            <xs:selector xpath="./i18nString"/>
            <xs:field xpath="@name"/>
        </xs:unique>
    </xs:element>
    <xs:element name="document">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="id" minOccurs="0"/>
                <xs:element ref="version" minOccurs="0"/>
                <xs:element ref="initials" minOccurs="0"/>
                <xs:element name="title" minOccurs="0" type="i18nStringType"/>
                <xs:element ref="icon" minOccurs="0"/>
                <xs:element ref="defaultRole" minOccurs="0"/>
                <xs:element ref="transitionRole" minOccurs="0"/>
                <xs:element ref="caseName" minOccurs="0"/>
                <xs:element ref="transaction" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="role" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="data" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="mapping" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="i18n" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="transition" maxOccurs="unbounded"/>
                <xs:element ref="place" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="arc" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="transitionUniqueId">
            <xs:selector xpath="./transition"/>
            <xs:field xpath="id"/>
        </xs:unique>
        <xs:unique name="placeUniqueId">
            <xs:selector xpath="./place"/>
            <xs:field xpath="id"/>
        </xs:unique>
        <xs:unique name="arcUniqueId">
            <xs:selector xpath="./arc"/>
            <xs:field xpath="id"/>
        </xs:unique>
        <xs:unique name="roleUniqueId">
            <xs:selector xpath="./role"/>
            <xs:field xpath="id"/>
        </xs:unique>
        <xs:unique name="dataUniqueId">
            <xs:selector xpath="./data"/>
            <xs:field xpath="id"/>
        </xs:unique>
        <xs:unique name="mappingId">
            <xs:selector xpath="./mapping"/>
            <xs:field xpath="id"/>
        </xs:unique>
        <xs:key name="ptIdKey">
            <xs:selector xpath="./place|./transition"/>
            <xs:field xpath="id"/>
        </xs:key>
        <!--todo:move validation to arc-->
        <xs:keyref name="sourceId" refer="ptIdKey">
            <xs:selector xpath="./arc"/>
            <xs:field xpath="sourceId"/>
        </xs:keyref>
        <xs:keyref name="destinationId" refer="ptIdKey">
            <xs:selector xpath="./arc"/>
            <xs:field xpath="destinationId"/>
        </xs:keyref>
    </xs:element>
    <!-- ===== RESTRICTIONS ===== -->
    <xs:simpleType name="data_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="number"/>
            <xs:enumeration value="text"/>
            <xs:enumeration value="enumeration"/>
            <xs:enumeration value="multichoice"/>
            <xs:enumeration value="boolean"/>
            <xs:enumeration value="date"/>
            <xs:enumeration value="file"/>
            <xs:enumeration value="user"/>
            <xs:enumeration value="caseref"/>
            <xs:enumeration value="dateTime"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="arc_type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="regular"/>
            <xs:enumeration value="reset"/>
            <xs:enumeration value="inhibitor"/>
            <xs:enumeration value="read"/>
            <xs:enumeration value="variable"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="validation">
        <xs:restriction base="xs:string">
            <!--todo: depending on data type-->
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="dataGroupAlignment">
        <xs:restriction base="xs:string">
            <xs:enumeration value="start"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="end"/>
            <xs:enumeration value="left"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="triggerType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="auto"/>
            <xs:enumeration value="user"/>
            <xs:enumeration value="time"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="assignPolicyType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="auto"/>
            <xs:enumeration value="manual"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="finishPolicyType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="auto_no_data"/>
            <xs:enumeration value="manual"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="nonNegativeLong">
        <xs:restriction base="xs:long">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="nonNegativeInteger">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="dataFocusPolicyType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="manual"/>
            <xs:enumeration value="auto_empty_required"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- ===== INNER ELEMENTS ===== -->
    <xs:element name="x" type="xs:short"/>
    <xs:element name="y" type="xs:short"/>
    <xs:element name="label" type="i18nStringType"/>
    <xs:element name="tokens" type="nonNegativeInteger"/>
    <xs:element name="isStatic" type="xs:boolean"/>
    <xs:element name="static" type="xs:boolean"/>
    <xs:element name="type" type="xs:string"/>
    <xs:element name="sourceId" type="xs:string"/>
    <xs:element name="destinationId" type="xs:string"/>
    <xs:element name="multiplicity" type="nonNegativeInteger"/>
    <xs:element name="breakPoint">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="x"/>
                <xs:element ref="y"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="id" type="xs:string"/>
    <xs:element name="title" type="i18nStringType"/>
    <xs:element name="name" type="i18nStringType"/>
    <xs:element name="version" type="xs:string"/>
    <xs:element name="initials" type="initialsType"/>
    <xs:simpleType name="initialsType">
        <xs:restriction base="xs:string">
            <xs:length value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="values" type="i18nStringType"/>
    <xs:element name="perform" type="xs:boolean"/>
    <xs:element name="view" type="xs:boolean"/>
    <xs:element name="delegate" type="xs:boolean"/>
    <xs:element name="logic">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="perform" minOccurs="0"/>
                <xs:element ref="delegate" minOccurs="0"/>
                <xs:element ref="view" minOccurs="0"/>
                <xs:element name="behavior" type="behavior" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="action" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="actionRef" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="transitionRef" type="xs:string"/>
    <xs:element name="transactionRef">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="id"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="roleRef">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="id"/>
                <xs:element ref="logic"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="behavior">
        <xs:restriction base="xs:string">
            <xs:enumeration value="forbidden"/>
            <xs:enumeration value="hidden"/>
            <xs:enumeration value="visible"/>
            <xs:enumeration value="editable"/>
            <xs:enumeration value="required"/>
            <xs:enumeration value="immediate"/>
            <xs:enumeration value="optional"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="dataRef">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="id"/>
                <xs:element ref="logic"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="dataGroup">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="id"/>
                <xs:element ref="title" minOccurs="0"/>
                <xs:element ref="alignment" minOccurs="0"/>
                <xs:element ref="stretch" minOccurs="0"/>
                <xs:element ref="dataRef" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="alignment" type="dataGroupAlignment"/>
    <xs:element name="action" type="actionType"/>
    <xs:complexType name="actionType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="trigger"/>
                <xs:attribute name="id"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:element name="placeholder" type="i18nStringType"/>
    <xs:element name="valid" type="validation"/>
    <xs:element name="init" type="xs:string"/>
    <xs:simpleType name="remoteType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="remote" type="remoteType"/>
    <xs:element name="desc" type="i18nStringType"/>
    <xs:element name="priority" type="nonNegativeInteger"/>
    <xs:element name="trigger">
        <xs:complexType>
            <!--todo: only if time -->
            <xs:choice minOccurs="0">
                <xs:element name="exact" type="xs:dateTime"/>
                <xs:element name="delay" type="xs:duration"/>
            </xs:choice>
            <xs:attribute name="type" type="triggerType"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="stretch" type="xs:boolean"/>
    <xs:element name="icon" type="xs:string"/>
    <xs:element name="documentRef">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="nonNegativeLong"/>
                <xs:element name="fields" type="nonNegativeLong" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="encryption" type="encryptionType"/>
    <xs:complexType name="encryptionType">
        <xs:simpleContent>
            <xs:extension base="xs:boolean">
                <xs:attribute name="algorithm"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:element name="defaultRole" type="xs:boolean" default="true"/>
    <xs:element name="transitionRole" type="xs:boolean" default="true"/>
    <xs:element name="i18nString" type="i18nStringType"/>
    <xs:complexType name="i18nStringType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:element name="assignPolicy" type="assignPolicyType"/>
    <xs:element name="dataFocusPolicy" type="dataFocusPolicyType"/>
    <xs:element name="finishPolicy" type="finishPolicyType"/>
    <xs:element name="caseName" type="i18nStringType"/>
    <xs:element name="event">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="id"/>
                <xs:element ref="title" minOccurs="0"/>
                <xs:element ref="message" minOccurs="0"/>
                <xs:element ref="actions" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="type" use="required" type="eventType"/>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="eventType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="assign"/>
            <xs:enumeration value="cancel"/>
            <xs:enumeration value="finish"/>
            <xs:enumeration value="delegate"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="eventPhaseType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="pre"/>
            <xs:enumeration value="post"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="actions">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="action" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="actionRef" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="eventPhaseType" name="phase" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="message" type="i18nStringType"/>
    <xs:element name="actionRef" type="actionRefType"/>
    <xs:complexType name="actionRefType">
        <xs:sequence>
            <xs:element ref="id"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>